<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ipfs_gui.resources.UserConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ipfs_gui.source.resources.UserConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ipfs_gui.source.resources.user" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <ipfs_gui.resources.UserConfig>
            <setting name="Autostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IpfsPath" serializeAs="String">
                <value>.\ipfs.exe</value>
            </setting>
            <setting name="WebGuiAddress" serializeAs="String">
                <value>http://localhost:5001/webui</value>
            </setting>
        </ipfs_gui.resources.UserConfig>
        <ipfs_gui.source.resources.UserConfig>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IpfsPath" serializeAs="String">
                <value>.\ipfs.exe</value>
            </setting>
            <setting name="WebGuiAddress" serializeAs="String">
                <value>http://localhost:5001/webui</value>
            </setting>
        </ipfs_gui.source.resources.UserConfig>
        <ipfs_gui.source.resources.user>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
        </ipfs_gui.source.resources.user>
    </userSettings>
</configuration>